<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>About Our Investment Portfolio Tracking Application</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}
		header {
			background-color:  #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}
		h1 {
			font-size: 36px;
			margin-bottom: 10px;
		}
		p {
			font-size: 18px;
			line-height: 1.5;
			margin-bottom: 20px;
			text-align: justify;
			padding: 0 20px;
		}
		.container {
			margin: 0 auto;
			max-width: 800px;
			padding: 20px;
		}
	</style>
</head>
<body>
	<header>
		<h1>About Our Investment Portfolio Tracking Application</h1>
	</header>
	<div class="container">
		<p>Our investment portfolio tracking application is designed to help you keep track of your investments in real-time. Whether you're a seasoned investor or just starting out, our app can help you make informed decisions about your investments.</p>
		<p>Our app offers a wide range of features, including:</p>
		<ul>
			<li>Real-time tracking of your portfolio performance</li>
			<li> prdictions, news updates, and more</li>
			<li>add your transactions  </li>
			<li>keep track of any type of investments</li>
		</ul>
		<p>Our team is dedicated to providing you with the best possible experience. If you have any questions or feedback, please don't hesitate to contact us.</p>
		<p>Thank you for choosing our investment portfolio tracking application!</p>
	</div>
    <footer>
        <p>&copy; Investment Portfolio Tracking Application, 2023. All rights reserved.</p>
      </footer>
</body>
</html>