<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Investment Portfolio Tracker</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Investment Portfolio Tracker</h1>
      <nav>
        <ul>
         <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="/login">Sign In</a></li>
          <li><a href="/signup">Sign Up</a></li>
           
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Welcome to the Investment Portfolio Tracker</h2>
        <p>Keep track of your investments with our easy-to-use platform.</p>
        <p>With our powerful tools, you can monitor your portfolio performance, get insights into your investment strategy, and make informed decisions about your investments.</p>
        <p>Sign up today and start taking control of your investments!</p>
        <a href="#" class="button">Sign Up Now</a>
      </section>
    </main>
    <footer>
      <p>&copy; Investment Portfolio Tracking Application, 2023. All rights reserved.</p>
    </footer>
  </body>
</html>