<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>News and predictions for you</title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<header>
      <h1>Investment Portfolio Tracking Application</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contactus">Contact Us</a></li>
        </ul>
      </nav>
    </header>
<body>
<div>
<iframe src="https://in.investing.com/news/" width="1000" height="500"style="border:2px solid black;" title="commodities"></iframe>
</div>
<div>
<iframe src="https://www.business-standard.com/markets-commodities" width="1000" height="500"style="border:2px solid black;" title="Stocks and more"></iframe>
</div>
<div>
<iframe src="https://choiceindia.com/best-stocks-to-buy"width="1000" height="500" style="border:2px solid black;" title="stocks prediction from experts"></iframe>
</div>
<footer>
      <p>&copy; Investment Portfolio Tracking Application, 2023. All rights reserved.</p>
    </footer>
</body>
</html>