body {
  font-family: Arial, sans-serif;
  background-color: #F0F0F0;
}

header {
  background-color: #333;
  color: #FFF;
  padding: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

nav li a {
  color: #FFF;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  background-color: #FFF;
}

form label {
  display: block;
  margin-bottom: 0.5em;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid #CCC;
}

form input[type="submit"] {
  background-color: #333;
  color: #FFF;
  border: none;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #444;
}